<h1>All Languages</h1>

<a class="click" href="/languages/new">Add Language</a>
<br>
<hr>
<% for language in @languages %>
    <p><a href="/languages/<%=language.id%>"> <%=language.name%></a>
    </p>
<% end %>
