<h1>Add a New Language</h1>
<form action="/languages" method="post">

  <label for="name">Language:</label>
    <input type="text" name="name" id="name">

    <input class="btn" type="submit" value="Submit">
</form>
