<h1>Languages I don't speak (yet!)</h1>

<a href="/languages/new">Add Language</a>
<br>
<hr>
<% for language in @languages %>
    <p><a href="/languages/<%=language.id%>">
      <%=language.name%></a></p>
  <hr>
<% end %>
