<h1>Add a New Attraction</h1>

<form action="/attractions" method="post">

  <label for="city">
    City:
    <select id ="city" name="city_id">
      <% for city in @cities %>
      <option value="<%=city.id%>"><%= city.name %></option>
      <% end %>
    </select>
  </label>

  <br>

  <label for="name">Attraction:</label>
    <input type="text" name="name" id="name">
    <br>

    <label for="review">Comment:</label>
      <input type="text"  name="review" id="review">

    <input class="btn" type="submit" value="Submit">
</form>

<br>
<p>City not yet saved? - <a href="/countries/new">Add Country</a></p>
