<h1>Travelling the Globe</h1>

<p>A record of my travels and adventures around the world</p>

<h2>I have travelled to <%=@visited_countries.count %> countries so far!</h2>
<br>
<h2>There are still <%=@unvisited_countries.count %> countries on my bucketlist!</h2>
