<h1>Travelling the Globe</h1>

<h2>A record of my travels and adventures around the world</h2>

<h3>I have travelled to <%=@visited_countries.count %> countries so far
  and there are still <%=@unvisited_countries.count %> countries on my bucketlist!</h3>
<!--Add languages spoken.count-->

<h3>I can speak <%=@spoken_languages.count %> languages so far :D </h3>
