<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Travels</title>
  </head>
  <body>
    <nav>
          <a href="/">Home</a>
               <a href="/countries">All Countries</a>
               <a href="/countries/new">Add Country</a>
               <a href="/countries/visited">Visited Countries</a>
               <a href="/countries/unvisited">Countries To Visit</a>
          <a href="/cities">Cities travelled</a>
      </nav>
        <%= yield %>
  </body>
</html>
