<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Travels</title>
  </head>
  <body>
    <nav>
        <ul>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/countries">All Countries</a> </li>
          <li> <a href="/countries/new">Add country</a> </li>
          <li> <a href="/countries/visited">Visited countries</a> </li>
          <li> <a href="/countries/unvisited">Countries yet to visit</a> </li>
          <li> <a href="/cities">Cities travelled</a> </li>
        </ul>
      </nav>
        <%= yield %>
  </body>
</html>
