<h1>Cities I've Visited</h1>
<a href="/cities/new">Add City</a>
<hr>
<p>I have visited:</p>
<% for city in @cities %>
  <p> <%=city.name%> </p>
  <p><a href="/cities/<%=city.id%>">show city</a></p>
  <hr>
<% end %>

<!--Can I add in here the name of the Country using .country method?  -->
