<h1>Cities I've Visited</h1>
<a href="/cities/new">Add City</a>
<hr>
<% for city in @cities %>
  <p>I have visited:
    <a href="/cities/<%=city.id%>"><%=city.name%> || </a>
    <% country = city.country %>
    <a href="/countries/<%=country.id%>"><%=country.name %></a>
    </p>
    <hr>
<% end %>
