<h1>Add a New City</h1>

<form action="/cities" method="post">
  <label for="country">
    Country:
    <select id ="country" name="country_id">
      <% for country in @countries %>
      <option value="<%=country.id%>"><%= country.name %></option>
      <% end %>
    </select>
  </label>

  <br>

  <label for="name">City:</label>
    <input class="btn2" type="text" name="name" id="name">
    <br>

    <label for="visits_to_city">Times I have been here so far:</label>
      <input class="btn2" type="number" value="0"  name="visits_to_city" id="visits_to_city">

    <input class="btn" type="submit" value="Submit">
</form>

<br>
<p>Country not yet saved? - <a class="click" href="/countries/new">Add Country</a></p>
