<h1>All Countries</h1>

<a class="click" href="/countries/new">Add Country</a>
<br>
<hr>
<h2>I have visited...</h2>
  <p>
    <% for country in @countries %>
        <a href="/countries/<%=country.id%>">
          <%=country.name%></a>
            <%=country.visits_to_country %> times</p>
    <% end %>
