<h1>Countries I've Visited</h1>

<% for country in @countries %>
  <p>I have visited <%=country.name%> <%=country.visits_to_country %> times</p>
  <p><a href="/countries/<%=country.id%>">show country</a></p>
  <hr>
<% end %>
