<h1>All Countries</h1>

<a href="/countries/new">Add Country</a>
<br>
<hr>
<% for country in @countries %>
  <p>I have visited
    <a href="/countries/<%=country.id%>">
      <%=country.name%></a>
        <%=country.visits_to_country %> times</p>
  <hr>
<% end %>
