<h1>Add a New Country to Visit</h1>
<form action="/countries" method="post">

  <label for="name">Country:</label>
    <input class="btn2" type="text" name="name" id="name">

  <label for="continent">Continent:</label>
    <input class="btn2" type="text" name="continent" id="continent">

    <input class="btn" type="submit" value="Submit">
</form>
