<h1>Add a New Country to Visit</h1>
<form action="/countries" method="post">

  <label for="name">Country:</label>
    <input type="text" name="name" id="name">
    <br>

    <input class="btn" type="submit" value="Submit">
</form>
