<h1>Countries I'd like to Visit</h1>

<h2>There are still <%=@countries.count %> countries on my bucketlist!</h3></h2>

<a class="click" href="/countries/new">Add Country</a>
<br>
<hr>
<% for country in @countries %>
<p>
    <a href="/countries/<%=country.id%>">
      <%=country.name%></a></p>
<% end %>
