<h1>Countries I'd like to Visit</h1>

<h2>There are still <%=@countries.count %> countries on my bucketlist!</h3></h2>

<a href="/countries/new">Add Country</a>
<br>
<hr>
<% for country in @countries %>
  <p>I have visited
    <a href="/countries/<%=country.id%>">
      <%=country.name%></a>
        <%=country.visits_to_country %> times</p>
  <hr>
<% end %>
