.btn {
  border:0px none;
  border-radius: 3%;
  padding: 8px 12px;
  color: white;
  background-color:  #00802b;
  cursor:pointer;
  font-family: 'verdana';
}

.btn:hover {
  background-color: #009933;
}
