select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 background: #99ccff url('/images/globe.png') 96% / 15% no-repeat;
 /* 96% = position along button; 15% = size of image */
 border: 1px solid #3399ff;
}
