* {
  font-family: 'verdana';
}

body {
  background: white url('/images/beach2light.jpg');
  background-size: 100%;
  color: black;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 10px;
}

a, a:link {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: #004d1a;
  text-decoration: underline;
}

hr {
  border-top: 1px solid #009933;
  border-bottom: 1px solid #00802b;
}
