* {
  font-family: 'verdana';
}

body {
  background: white url('/images/beach2light.jpg');
  background-size: 100%;
  color: black;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 10px;
}

a, a:link {
  color: #0000cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: #008000;
  text-decoration: underline;
}

a.click {
  background-color: #99ccff;
  border: 1px solid #3399ff;
  color: black;
  font-size: 19px;
}

hr {
  border-top: 1px solid #009933;
  border-bottom: 1px solid #00802b;
}
